
/* About */

.About {
	/*background-color: #fafafa;*/
	/*background-color: #212121;*/
	min-height: 100vh;
	-webkit-transition: all .8s .2s;
	-moz-transition: all .8s .2s;
	-ms-transition: all .8s .2s;
	-o-transition: all .8s .2s;
	transition: all .8s .2s;
	padding: 1em 0;
}

.About.is-theater {
	background-color: #212121;
}

.About p {
	-webkit-transition: all .8s .2s;
	-moz-transition: all .8s .2s;
	-ms-transition: all .8s .2s;
	-o-transition: all .8s .2s;
	transition: all .8s .2s;
}

.About.is-theater p {
	color: #ffffff;
}

@media (min-width: 96em) {

	.About {
		padding: 6em 0;
	}

}