
/* Aside */

.Aside {
	visibility: hidden;
	display: none;
}

/* Aside inner */

.Aside-inner {

}

.heightLarge-visible {
	display: none;
}

@media (min-width: 48em) {

	/* Aside */

	.Aside {
		visibility: visible;
		height: 100vh;
		left: 0;
		top: 0;
		z-index: 2;
		position: fixed;
		width: 3em;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
	}

	/* Aside inner */

    .Aside-inner {
	    background-color: #ffffff;
	    border-bottom-right-radius: 2px;
	    border-bottom-left-radius: 2px;
	    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .16);
	    -moz-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .16);
	    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .16);
	    float: left;
	    height: 3em;
	    margin-right: 100%;
	    /*padding: 0 2.25em;*/
	    -webkit-transform: rotate(-90deg);
	    -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	    -o-transform: rotate(-90deg);
	    transform: rotate(-90deg);
	    -webkit-transform-origin: 50% 0 0;
	    -moz-transform-origin: 50% 0 0;
	    -ms-transform-origin: 50% 0 0;
	    -o-transform-origin: 50% 0 0;
	    transform-origin: 50% 0 0;
	}

    .Aside-content {
	    -webkit-align-items: center;
	    align-items: center;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    padding: 0 .375em;
	    width: 100%;
	    height: 100%;
    }

    .Aside-text {
	    margin: 0 1.125em;
    }

    .Aside-text span {
	    white-space: nowrap;
	    text-align: center;
	    text-transform: uppercase;
	    font-weight: 900;
	    font-size: 1em;
    }

    .Aside-social {
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
    }

}

@media (min-height: 48em) {

	.heightLarge-visible {
		display: inline-block;
	}

}