
/* Button */

.Button {
	background: none;
	border: solid 2px transparent;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	margin-bottom: 1em;
	min-width: 12em;
	padding: .5em 1em;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	text-align: center;
}

a.Button {
	cursor: pointer;
}

/* lineup resume */

.Button--lineupResume {
	border: solid 2px #ffffff;
	border-radius: 3px;
	margin: 0;
	min-width: 0;
	padding: .5em .5em;
}

.Button--lineupResume:hover {
	-webkit-box-shadow: 0 0 12px 1px rgba(0,176,255,.72);
	-moz-box-shadow: 0 0 12px 1px rgba(0,176,255,.72);
	box-shadow: 0 0 12px 1px rgba(0,176,255,.72);
	border-color: #00b0ff;
	background-color: #00b0ff;
}

/* lineup show more */

.Button--lineupShowMore {
	-webkit-align-items: center;
	align-items: center;
	padding: 0 !important;
	margin: 0;
	border-radius: 50%;
	height: 3em;
	-webkit-justify-content: center;
	justify-content: center;
	min-width: 0;
	width: 3em;
}

.Button--lineupShowMore:hover {
	/*-webkit-box-shadow: 0 0 12px 1px rgba(0,176,255,.72);*/
	/*-moz-box-shadow: 0 0 12px 1px rgba(0,176,255,.72);*/
	/*box-shadow: 0 0 12px 1px rgba(0,176,255,.72);*/
	background-color: #00b0ff;
}

.Button--primary {
	background-color: #03a9f4;
	border-radius: 3px;
	color: #ffffff;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-ms-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.Button--primary:focus,
.Button--primary:hover {
	background-color: #81d4fa;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-ms-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.Button--primary:active {
	background-color: #039be5;
}

/* Button span */

.Button span {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.5em;
}

.Button--lineupShowMore:hover span {
	color: #ffffff !important;
}

.Button--lineupResume span {
	color: #ffffff !important;
	font-size: 1em;
	font-weight: 700;
}

.Button--lineupResume:hover span {
	color: #ffffff !important;
}

@media (max-width: 24em) {

	/* Button */

	.Button--contact span {
		font-size: 1.25em;
	}

}

@media (min-width: 60em) {

	/* Button */

	.Button {
		padding: .75em 1em;
	}

	/* lineup resume */

	.Button--lineupResume {
		padding: .75em 1em;
	}

}