
/* Icon mouse animation */

.custom-icon-mouse {
	border: 2px solid #03a9f4;
	border-radius: 16px;
	cursor: pointer;
	display: block;
	height: 40px;
	margin: 5px 5px 10px 5px;
	opacity: 0.8;
	position: relative;
	width: 24px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	z-index: 10;
}

.custom-icon-mouse:hover {
	background-color: #03a9f4;
}

/* Mouse animation with wheel (circle) */

.custom-icon-mouse .wheel {
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

/* Mouse animation with arrow */

.custom-icon-mouse .arrow {
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.custom-icon-mouse .wheel {
	background: #000;
	border-radius: 10px;
	height: 6px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 4px;
	width: 6px;
}

.custom-icon-mouse .arrow {
	border-bottom: 2px solid #0091ea;
	border-right: 2px solid #0091ea;
	height: 4px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 4px;
	transform: rotate(45deg);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	width: 4px;
}

.custom-icon-mouse:hover .arrow {
	border-color: #ffffff;
}

/* Mouse tooltip */

.custom-icon-mouse .tooltip {
	display: block;
	background-color: #03a9f4;
	border-radius: 2px;
	color: #fff;
	font-size: 1em;
	font-weight: 600;
	line-height: 1em;
	opacity: 0;
	padding: 5px 0;
	position: absolute;
	right: 150%;
	text-align: center;
	text-transform: uppercase;
	transition: opacity .7s;
	top: 20%;
	width: 8em;
	z-index: 11;
}

.custom-icon-mouse .tooltip::after {
	border-color: transparent transparent transparent #00b0ff;
	border-style: solid;
	border-width: 5px;
	content: " ";
	right: -10px;
	margin-top: -5px;
	position: absolute;
	top: 50%;
}

/* Display mouse icon tooltip on hover */

.custom-icon-mouse:hover .tooltip {
	opacity: 0.9;
}

@-webkit-keyframes drop {
	0% {top: 5px; opacity: 0;}
	30% {top: 10px;}
	50% {opacity: 1;}
	100% {top: 25px; opacity: 0;}
}

@keyframes drop {
	0% {top: 5px; opacity: 0;}
	30% {top: 10px;}
	50% {opacity: 1;}
	100% {top: 25px; opacity: 0;}
}

@media (max-height: 24em) {

	.custom-icon-mouse .tooltip {
		right: auto;
		left: 150%;
	}

	.custom-icon-mouse .tooltip::after {
		border-color: transparent #00b0ff transparent transparent;
		right: auto;
		left: -10px;
	}

}