
/* Guide step */

.GuideStep {
	/*-webkit-align-items: center;*/
	/*align-items: center;*/
	/*text-align: center;*/
	/*display: -webkit-box;*/
	/*display: -moz-box;*/
	/*display: -ms-flexbox;*/
	/*display: -webkit-flex;*/
	/*display: flex;*/
	/*-webkit-flex-flow: column;*/
	/*flex-flow: column;*/
	/*-webkit-justify-content: center;*/
	/*justify-content: center;*/
	margin-bottom: .5em;
	min-width: 15em;
	/*width: 100%;*/
}

.GuideStep h1,
.GuideStep h2,
.GuideStep h3 {
	font-family: 'tenby-four', 'proxima-nova', sans-serif !important;
}

.GuideStep-icon {
	font-size: 2.25em;
}

h1.GuideStep-number {
	display: none;
	font-size: 2em;
}

h2.GuideStep-title {
	font-size: 1.5em;
}

p.GuideStep-description {
	font-size: .825em;
	padding: 0 1em;
}

.GuideStep-description a {
	color: #2196f3;
}

.GuideStep-description a:hover {
	color: #1565c0;
}

@media (min-width: 30em) {

	.GuideStep {
		flex: 0 0 33.33333%;
	}

	p.GuideStep-description {
		font-size: 1em;
		line-height: 1em;
	}

}

@media (min-width: 60em) {

	.GuideStep {
		flex: 0 0 20%;
		min-width: 0;
	}

	p.GuideStep-description {
		font-weight: 100;
	}

}
