
/* Header */

.Header {
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 100vh;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.Header-action {
	-webkit-align-items: center;
	align-items: center;
	bottom: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	left: 0;
	padding: 1em 2.25em 2.25em;
	position: absolute;
	width: 100%;
}

@media (max-height: 24em) {

	.Header-action {
		padding-bottom: 1em;
	}

}

@media (min-width: 48em) {

	.Header-action {
		padding-bottom: 2.25em;
	}

}

@media (min-width: 72em) {

	.Header-action {
		padding-bottom: 1.5em;
	}

}

@media (min-width: 96em) {

	.Header-action {
		padding-bottom: 2.25em;
	}

}