
/* Lineup Artist */

.LineupArtist {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;
	width: 100%;
	/*margin: 0 auto;*/
}

/* Lineup Artist inner */

.LineupArtist-inner {
	display: none;
	-webkit-flex-flow: column;
	flex-flow: column;
	width: 100%;
	max-width: 72em;
}

.is-showingMore .LineupArtist-inner {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

/* Lineup Artist image */

.LineupArtist-figure {
	padding: 0 1em;
	position: relative;
	height: 16em;
}

.LineupArtist--zoomBoxx .LineupArtist-figure {
	padding-left: 2.25em;
}

.LineupArtist--donnaBanda .LineupArtist-figure {
	padding-left: 1.5em;
}

.LineupArtist--mcMigue .LineupArtist-figure {
	padding-left: 0;
}

.LineupArtist--eletronicSunset .LineupArtist-figure {
	padding-left: 3em;
}

.LineupArtist--pagodeDoNova .LineupArtist-figure {
	padding-left: 2.25em;
}

.LineupArtist--djRenatinho .LineupArtist-figure {
	padding-left: 1.5em;
}

/* Lineup Artist image img element */

.LineupArtist-figure img {
	height: 100%;
	-webkit-transition: transform .3s ease-in-out;
	-moz-transition: transform .3s ease-in-out;
	-ms-transition: transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
}

.LineupArtist-figure:hover .LineupArtist-figure img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

/* Lineup Artist image figcaption element */

.LineupArtist-figure figcaption {
	bottom: 0;
	left: 25%;
	position: absolute;
	padding-bottom: 2.25em;
	padding-left: 1em;
}

.LineupArtist--zoomBoxx .LineupArtist-figure figcaption {
	left: 50%;
	padding-bottom: 2.25em;
}

.LineupArtist--donnaBanda .LineupArtist-figure figcaption {
	left: 42%;
	padding-bottom: 1em;
}

.LineupArtist--mcMigue .LineupArtist-figure figcaption {
	left: 40%;
	padding-bottom: 1em;
}

.LineupArtist--eletronicSunset .LineupArtist-figure figcaption {
	left: 40%;
	padding-bottom: 1.5em;
}

.LineupArtist--pagodeDoNova .LineupArtist-figure figcaption {
	left: 25%;
	padding-bottom: 0;
}

.LineupArtist--djRenatinho .LineupArtist-figure figcaption {
	left: 35%;
	padding-bottom: 1em;
}

/* Lineup Artist image figcaption span element */

.LineupArtist-figure figcaption > span {
	color: #80d8ff;
	font-family: "proxima-nova-alt", "proxima-nova", sans-serif;
	font-size: 1.5em;
	font-style: italic;
	font-weight: 800;
	line-height: .96;
}

.LineupArtist--zoomBoxx .LineupArtist-figure figcaption > span {
	font-size: 2.25em;
}

.LineupArtist--donnaBanda .LineupArtist-figure figcaption > span {
	font-size: 2.25em;
}

.LineupArtist--mcMigue .LineupArtist-figure figcaption > span {
	font-size: 3em;
}

.LineupArtist--pagodeDoNova .LineupArtist-figure figcaption > span {
	font-size: 1.5em;
}

.LineupArtist--djRenatinho .LineupArtist-figure figcaption > span {
	font-size: 1.5em;
}

/* Lineup nowrap */

.LineupArtist .nowrap {
	white-space: nowrap;
}

/* Lineup Artist description */

.LineupArtist-description {
	padding: 1em 1.5em 0;
	width: 100%;
}

.LineupArtist-description p {
	color: #80d8ff;
	font-family: "proxima-nova", sans-serif;
	font-size: 1.125em;
	font-weight: 700;
}

@media (min-width: 48em) {

	/* Lineup Artist inner */

	.LineupArtist-inner {
		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
		padding-bottom: 3em;
	}

	.LineupArtist--eletronicSunset .LineupArtist-inner {
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}

	/* Lineup Artist image */

	.LineupArtist-figure {
		height: 36em;
	}

	.LineupArtist--eletronicSunset .LineupArtist-figure {
		height: 21em;
	}

	/* Lineup Artist image figcaption element */

	.LineupArtist-figure figcaption {
		left: 50%;
		padding-bottom: 3em;
		padding-left: 3em;
	}

	.LineupArtist--eletronicSunset .LineupArtist-figure figcaption {
		padding-left: 2.25em;
	}

	.LineupArtist-figure figcaption > span {
		font-size: 3.75em;
		font-weight: 800;
		line-height: .96;
	}

	.LineupArtist--eletronicSunset .LineupArtist-figure figcaption > span {
		font-size: 2.25em;
	}

	.LineupArtist--pagodeDoNova .LineupArtist-figure figcaption > span {
		font-size: 2.25em;
	}

	.LineupArtist--djRenatinho .LineupArtist-figure figcaption > span {
		font-size: 2.25em;
	}

	/* Lineup Artist description */

	.LineupArtist-description {
		padding: 4.5em 0 1em 1em;
		max-width: 24em;
	}

	.LineupArtist-description p {
		font-size: 1.5em;
	}

}