
/* Lineup Artist Resume */

.LineupArtistResume {
	width: 100%;
	padding: 1em;
	position: relative;
}

.LineupArtistResume p,
.LineupArtistResume span {
	color: #ffffff;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.LineupArtistResume:hover p,
.LineupArtistResume:hover span {
	color: #40c4ff;
}

.LineupArtistResume-inner {
	-webkit-align-items: stretch;
	align-items: stretch;
	cursor: default;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	position: relative;
}

.LineupArtistResume-date {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex: 2;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 0 .375em;
	min-height: 3em;
}

.LineupArtistResume-date span {
	font-size: .875em;
	font-weight: 900;
}

.LineupArtistResume-artist {
	border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex: 5;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 0 .375em;
}

.LineupArtistResume-artist p {
	margin-bottom: 0;
	font-weight: 900;
	font-size: .875em;
	text-align: center;
}

.LineupArtist--zoomBoxx .LineupArtistResume-artist p {
	font-size: 1em;
}

.LineupArtist--mcMigue .LineupArtistResume-artist p {
	font-size: 1.125em;
}

.LineupArtist--eletronicSunsect .LineupArtistResume-artist p {
	font-size: .875em;
}

.LineupArtist--pagodeDoNova .LineupArtistResume-artist p {
	font-size: .75em;
}

.LineupArtist--djRenatinho  .LineupArtistResume-artist p {
	font-size: .875em;
}

.LineupArtistResume-artist span {
	font-size: .75em;
	font-weight: 700;
}

.LineupArtistResume-misc {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	flex: 3;
}

.LineupArtistResume-misc span {
	font-weight: 700;
}

.LineupArtistResume-misc ul {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
}

.LineupArtistResume-misc ul li {
	margin-right: .5em;
}

.LineupArtistResume-misc ul li:first-child {
	margin-left: .75em;
}

.LineupArtistResume-misc ul li:last-child {
	margin-right: 0;
}

.LineupArtistResume .icon-keyboard_arrow_up,
.is-showingMore .LineupArtistResume .icon-keyboard_arrow_down {
	display: none;
}

.is-showingMore .LineupArtistResume .icon-keyboard_arrow_up {
	display: block;
}

@media (min-width: 48em) {


	/* Lineup Artist Resume */

	.LineupArtistResume {
		max-width: 48em;
		height: 6em;
	}

	.LineupArtistResume span {
		color: #ffffff;
		-webkit-transition: all .4s;
		-moz-transition: all .4s;
		-ms-transition: all .4s;
		-o-transition: all .4s;
		transition: all .4s;
	}

	.LineupArtistResume:hover span {
		color: #40c4ff;
	}

	.LineupArtistResume-date {
		flex: 1;
		padding: 0 1em;
	}

	.LineupArtistResume-date span {
		font-size: 1em;
		font-weight: 900;
	}

	.LineupArtistResume-artist {
		flex: 5;
	}

	.LineupArtistResume-artist p {
		font-size: 1.5em;
	}

	.LineupArtist--zoomBoxx .LineupArtistResume-artist p {
		font-size: 1.5em;
	}

	.LineupArtist--mcMigue .LineupArtistResume-artist p {
		font-size: 1.75em;
	}

	.LineupArtist--eletronicSunsect .LineupArtistResume-artist p {
		font-size: 1.5em;
	}

	.LineupArtist--pagodeDoNova .LineupArtistResume-artist p {
		font-size: 1.3125em;
	}

	.LineupArtist--djRenatinho  .LineupArtistResume-artist p {
		font-size: 1.3125em;
	}

	.LineupArtistResume-misc {
		flex: 3;
	}


	.LineupArtistResume-misc ul li {
		margin-right: 1em;
	}

	.LineupArtistResume-misc ul li:last-child {
		margin-right: 0;
	}

}