
/* Nav */

.Nav {
	width: 100%;
}

.Nav--header {
	position: absolute;
	padding-bottom: 1em;
	width: 100%;
	top: 0;
	left: 0;
}

.Nav-background {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.Nav--header .Nav-background {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.72) 24%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(24%, rgba(255,255,255,0.72)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.72) 24%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.72) 24%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.72) 24%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.72) 24%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

/* Nav menu */

.Nav-menu {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 1em 1.5em;
	position: relative;
}

@media (min-width: 48em) {

	.Nav--header {
		padding-bottom: 3em;
	}

	.Nav-menu {
		padding: 1.5em 1em;
	}

}

@media (min-width: 72em) {

	.Nav--header {
		padding-bottom: 4.5em;
	}

}

@media (min-width: 96em) {

	.Nav--header {
		padding-bottom: 6em;
	}

	.Nav-menu {
		padding: 2.25em 1em;
	}

}
