
/* Nav */

.Nav {
	position: absolute;
	width: 100%;
	padding: 0 0 1em;
	top: 0;
	left: 0;
}

.Nav-background {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(231,56,39,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(231,56,39,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(231,56,39,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(231,56,39,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(231,56,39,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(231,56,39,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e73827', GradientType=0 );
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Nav menu */

.Nav-menu {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 1em 2.25em;
	position: relative;
}