
/* Player */

.Player {
	background: #000000 no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	cursor: pointer;
	height: 240px;
	margin-bottom: 1em;
	-webkit-transition: height .6s, width .6s, margin .6s;
	-moz-transition: height .6s, width .6s, margin .6s;
	-ms-transition: height .6s, width .6s, margin .6s;
	-o-transition: height .6s, width .6s, margin .6s;
	transition: height .6s, width .6s, margin .6s;
	width: 426px;
}

.is-theater .Player {
	cursor: default;
	width: 1280px;
	height: 720px;
}

.Player-inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 100%;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
}

.Player svg {
	fill: #ffffff;
	max-width: 6em;
	margin: 0 auto;
	-webkit-transition: transform .3s;
	-moz-transition: transform .3s;
	-ms-transition: transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
}

.Player:hover svg {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

@media (min-width: 96em) {

	.Player {
		margin-bottom: 3em;
	}

	.is-theater .Player {
		margin-top: 2.25em;
		margin-bottom: 3.75em;
		margin-left: -4em; /* ( 80em - 72em ) / 2 */
		width: 80em;
		height: 45em;
	}

}