
/* Player */

.Player {
	background: #000000 no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 9em;
	margin-bottom: 1em;
	position: relative;
	-webkit-transition: height .6s, width .6s, margin .6s;
	-moz-transition: height .6s, width .6s, margin .6s;
	-ms-transition: height .6s, width .6s, margin .6s;
	-o-transition: height .6s, width .6s, margin .6s;
	transition: height .6s, width .6s, margin .6s;
	width: 16em;
}

.is-theater .Player {
	margin-left: -1em;
	width: 20em;
	height: 11.25em;
}

/* Player svg */

.Player svg {
	fill: #ffffff;
	width: 4.5em;
	height: 4.5em;
	margin: 0 auto;
	-webkit-transition: transform .3s;
	-moz-transition: transform .3s;
	-ms-transition: transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
}

.Player:hover svg {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

/* Player background */

.Player-background {
	background: #000000 no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Player inner */

.Player-inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 100%;
	-webkit-justify-content: center;
	justify-content: center;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
}

/* Player select area */

.Player-selectArea {
	cursor: pointer;
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

@media (min-width: 21em) {

	/* Player */

	.Player {
		height: 10em;
		width: 18em;
	}

	.is-theater .Player {
		margin-left: -1em;
		width: 22.5em;
		height: 12.6875em;
	}

}

@media (min-width: 48em) {

	.Player {
		height: 13.5em;
		margin-left: 0;
		width: 24em;
	}

	.is-theater .Player {
		width: 40em;
		margin-left: 0;
		height: 22.5em;
	}

	.Player svg {
		width: 6em;
		height: 6em;
	}

}

@media (min-width: 60em) {

	.is-theater .Player {
		margin-top: 1em;
		margin-bottom: 2.25em;
		margin-left: -2.6875em; /* ( 53.375em - 48em ) / 2 */
		width: 53.375em;
		height: 30em;
	}

}

@media (min-width: 72em) {

	.is-theater .Player {
		margin-left: -2em; /* ( 64em - 60em ) / 2 */
		width: 64em;
		height: 36em;
	}

}

@media (min-width: 96em) {

	.Player {
		margin-bottom: 3em;
	}

	.is-theater .Player {
		margin-top: 2.25em;
		margin-bottom: 3.75em;
		margin-left: -4em; /* ( 80em - 72em ) / 2 */
		width: 80em;
		height: 45em;
	}

}