
/* Point tag */

.PointTag {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	justify-content: center;
	margin-bottom: 1em;
	text-align: center;
	width: 100%;
}

.PointTag h1,
.PointTag h2,
.PointTag h3 {
	font-family: 'tenby-four', 'proxima-nova', sans-serif !important;
}

h1.PointTag-city {
	font-weight: 700;
	font-size: 1.5em;
	letter-spacing: .07em;
	padding: .25em 0;
	text-transform: uppercase;
}

h2.PointTag-local {
	font-weight: 600;
	font-size: 1.5em;
	padding: .2em 0;
	margin-bottom: 0;
}

.PointTag p {
	font-size: .875em;
	line-height: .975em;
	font-weight: 600;
}

@media (min-width: 48em) {

	.PointTag {
		flex: 0 0 50%;
	}

}

@media (min-width: 60em) {

	.PointTag {
		flex: 0 0 33.333333%;
	}

}
