
/* Header */

.TicketsHeader {
	padding: 1em;
	text-align: center;
	width: 100%;
}

.TicketsHeader img {
	height: 6em;
	margin-bottom: 1em;
}

.TicketsHeader p {
	font-size: .75em;
}

.TicketsHeader-inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	justify-content: center;
}

@media (min-width: 48em) {

	.TicketsHeader {
		margin-bottom: 1em;
	}

	.TicketsHeader p {
		font-size: .875em;
	}

	.TicketsHeader img {
		height: 6em;
		margin-bottom: 1em;
	}

}