
/* Yearbook Gallery */

.YearbookGallery {
	position: relative;
	width: 100%;
}

/* Yearbook Gallery list */

.YearbookGallery-list {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

@media (min-width: 60em) {

	.Yearbook--left .YearbookGallery-list {
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
	}

	.Yearbook--right .YearbookGallery-list {
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}

}